@import 'themes'
@import 'bodyStyle'
@import 'headerStyle'
@import 'articleStyle'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    
    &::-webkit-scrollbar
        width: 5px

    &::-webkit-scrollbar-track 
        background: var(--article-bg)

    &::-webkit-scrollbar-thumb
        border-radius: 20px
        border: 3px solid var(--font-color)


a
    text-decoration: none
    color: var(--cor-branca)

ul
    list-style: none

img
    max-width: 100%

body
    @include bodyStyle

    header
        @include headerStyle

    article
        @include articleStyle
